# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
composer.lock

# Build stuff
.build/

# Node
node_modules/

# Cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
.phpunit.cache
/.deptrac.cache

# Custom
