<?xml version="1.0" encoding="UTF-8"?>
<!--
    Aligned with magicsunday/coding-standard's templates/phpunit.xml.dist; the
    strict flag set is checked by `composer ci:test:php:templates`.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation=".build/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap=".build/vendor/autoload.php"
         cacheDirectory=".build/cache/.phpunit.cache"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         failOnPhpunitNotice="true"
         displayDetailsOnPhpunitDeprecations="true"
         executionOrder="defects"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source restrictNotices="true"
            restrictWarnings="true"
            ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
